In [1]:
# Importa as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
# Faz a leitura dos dados
cx_alimentacao = pd.read_excel('Dados_Conceicao_Caixa_Alimentacao.xlsx')
cx_recirculacao = pd.read_excel('Dados_Conceicao_Caixa_Recirculacao.xlsx')

target = pd.read_excel('T_Conceicao.xlsx')

In [3]:
cleaner1 = pd.read_excel('Dados_Conceicao_Cleaner1.xlsx')
cleaner2 = pd.read_excel('Dados_Conceicao_Cleaner2.xlsx')
recleaner = pd.read_excel('Dados_Conceicao_Recleaner.xlsx')

In [4]:
rougher1 = pd.read_excel('Dados_Conceicao_Rougher1.xlsx')
rougher2 = pd.read_excel('Dados_Conceicao_Rougher2.xlsx')

In [5]:
scavenger1b1 = pd.read_excel('Dados_Conceicao_Scavenger1_B1.xlsx')
scavenger1b2 = pd.read_excel('Dados_Conceicao_Scavenger1_B2.xlsx')
scavenger1b3 = pd.read_excel('Dados_Conceicao_Scavenger1_B3.xlsx')
scavenger2b1 = pd.read_excel('Dados_Conceicao_Scavenger2_B1.xlsx')
scavenger2b2 = pd.read_excel('Dados_Conceicao_Scavenger2_B2.xlsx')
scavenger2b3 = pd.read_excel('Dados_Conceicao_Scavenger2_B3.xlsx')

In [9]:
%store target
%store cx_alimentacao
%store cx_recirculacao
%store cleaner1
%store cleaner2
%store recleaner
%store rougher1
%store rougher2
%store scavenger1b1
%store scavenger1b2
%store scavenger1b3
%store scavenger2b1
%store scavenger2b2
%store scavenger2b3

Stored 'target' (DataFrame)
Stored 'cleaner1' (DataFrame)
Stored 'cleaner2' (DataFrame)
Stored 'recleaner' (DataFrame)
Stored 'rougher1' (DataFrame)
Stored 'rougher2' (DataFrame)
Stored 'scavenger1b1' (DataFrame)
Stored 'scavenger1b2' (DataFrame)
Stored 'scavenger1b3' (DataFrame)
Stored 'scavenger2b1' (DataFrame)
Stored 'scavenger2b2' (DataFrame)
Stored 'scavenger2b3' (DataFrame)

In [ ]:
# Armazena o tempo da primeira análise
#t_inicial = target.iloc[0,0]

In [ ]:
bkp = cx_alimentacao.copy()
bkp_t = target.copy()

In [6]:
# Transforma a primeira linha em cabeçalho
cx_alimentacao.columns = cx_alimentacao.iloc[0]
cx_recirculacao.columns = cx_recirculacao.iloc[0]
cleaner1.columns = cleaner1.iloc[0]
cleaner2.columns = cleaner2.iloc[0]
recleaner.columns = recleaner.iloc[0]
rougher1.columns = rougher1.iloc[0]
rougher2.columns = rougher2.iloc[0]
scavenger1b1.columns = scavenger1b1.iloc[0]
scavenger1b2.columns = scavenger1b2.iloc[0]
scavenger1b3.columns = scavenger1b3.iloc[0]
scavenger2b1.columns = scavenger2b1.iloc[0]
scavenger2b2.columns = scavenger2b2.iloc[0]
scavenger2b3.columns = scavenger2b3.iloc[0]

# Remove as duas primeiras linhas, que contêm cabeçalhos e nomes de TAGs
cx_alimentacao = cx_alimentacao.drop([0,1])
cx_recirculacao = cx_recirculacao.drop([0,1])
cleaner1 = cleaner1.drop([0,1])
cleaner2 = cleaner2.drop([0,1])
recleaner = recleaner.drop([0,1])
rougher1 = rougher1.drop([0,1])
rougher2 = rougher2.drop([0,1])
scavenger1b1 = scavenger1b1.drop([0,1])
scavenger1b2 = scavenger1b2.drop([0,1])
scavenger1b3 = scavenger1b3.drop([0,1])
scavenger2b1 = scavenger2b1.drop([0,1])
scavenger2b2 = scavenger2b2.drop([0,1])
scavenger2b3 = scavenger2b3.drop([0,1])

# Refaz a numeração do index
cx_alimentacao.reset_index(drop=True, inplace=True)
cx_recirculacao.reset_index(drop=True, inplace=True)
cleaner1.reset_index(drop=True, inplace=True)
cleaner2.reset_index(drop=True, inplace=True)
recleaner.reset_index(drop=True, inplace=True)
rougher1.reset_index(drop=True, inplace=True)
rougher2.reset_index(drop=True, inplace=True)
scavenger1b1.reset_index(drop=True, inplace=True)
scavenger1b2.reset_index(drop=True, inplace=True)
scavenger1b3.reset_index(drop=True, inplace=True)
scavenger2b1.reset_index(drop=True, inplace=True)
scavenger2b2.reset_index(drop=True, inplace=True)
scavenger2b3.reset_index(drop=True, inplace=True)

# Preenche os dados faltantes com zeros
cx_alimentacao = cx_alimentacao.fillna(0)
cx_recirculacao = cx_recirculacao.fillna(0)
cleaner1 = cleaner1.fillna(0)
cleaner2 = cleaner2.fillna(0)
recleaner = cleaner2.fillna(0)
rougher1 = cleaner2.fillna(0)
rougher2 = cleaner2.fillna(0)
scavenger1b1 = cleaner2.fillna(0)
scavenger1b2 = cleaner2.fillna(0)
scavenger1b3 = cleaner2.fillna(0)
scavenger2b1 = cleaner2.fillna(0)
scavenger2b2 = cleaner2.fillna(0)
scavenger2b3 = cleaner2.fillna(0)

In [ ]:
# Remove parte dos dados para diminuir o volume de informações para tratamento
cx_alimentacao = cx_alimentacao[:10169]
target = target[:38]

# Renomeia o cabeçalho de target
target.columns = ['DataHora', 'Ferro', 'Silica']

In [ ]:
# Nome do parâmetro avaliado, encontrado no cabeçalho da segunda coluna do agrupamento
cx_alimentacao.columns[1]

# Seleciona duas colunas, formando um agrupamento com os dados de um parâmetro
nivel = cx_alimentacao.iloc[:,[0,1]]

# Retira os dados nulos
selecao = nivel.iloc[:,0] != 0
nivel = nivel[selecao]

In [ ]:
# Seleciona os dados para o primeiro intervalo de tempo
selecao = nivel.iloc[:,0] < t_inicial
primeiro = nivel[selecao]

In [ ]:
# Identifica o tipo de dado das colunas 'DataHora'
nivel.iloc[0,0]

In [ ]:
selecao = nivel.iloc[:,0] < t_inicial
primeiro = nivel[selecao]
primeiro

In [ ]:
#my_index = pd.MultiIndex(levels=[[],[]],
#                         codes=[[],[]],
#                         names=[0,1])
# index=my_index, 
grupos = pd.DataFrame(columns=[col for col in nivel.columns])
i = 0
for amostra in target.iloc[:,0]:
    if nivel.shape[0] > 0:
        # Critério de seleção dos dados com base na data e hora
        selecao = nivel.iloc[:,0] < amostra
        # Seleciona o conjunto de dados
        selecionado = nivel[selecao]
        # Remove os dados da lista original
        nivel = nivel[~selecao]
        # Zera o índice para o grupo de dados selecionado
        selecionado.index = [j for j in range(selecionado.iloc[:,1].shape[0])]
        # Identifica o grupo
        selecionado['gr'] = [i for j in range(selecionado.iloc[:,1].shape[0])]
        
        grupos = grupos.append(selecionado, sort="False")
        i += 1
    
grupos['gr'] = grupos['gr'].astype(int)
#grupos.set_index('gr', append=True, inplace=True)

In [ ]:
grupos.iloc[350:360]

In [ ]:
# Faz a contagem de quantos dados há em cada grupo
qnt = []
for i in range(grupos.gr.unique().shape[0]):
    qnt.append(grupos[grupos['gr'] == i].shape[0])

In [ ]:
quant = np.asarray(qnt)

In [ ]:
fig, axes = plt.subplots(1, 1, figsize=(14,8))
axes.boxplot(x=quant)

In [ ]:
# Identifica o outlier
#pd.DataFrame(quant)

In [ ]:
# Remove o outlier identificado
selecao = grupos['gr'] != 0
grupos = grupos[selecao]

target.drop(0, axis=0)

In [ ]:
grupos.boxplot(['Nível'], by = 'gr', figsize=(18,8))

In [ ]:
# Agrupamento dos dados em um só valor
## Média
media = []
for i in range(1,len(grupos.gr.unique())+1):
    media.append(grupos[grupos['gr'] == i]['Nível'].mean())
    
## Mediana
mediana = []
for i in range(1,len(grupos.gr.unique())+1):
    mediana.append(grupos[grupos['gr'] == i]['Nível'].median())

In [ ]:
x = np.asarray(target.DataHora)
y = np.asarray(target.Ferro)

fig, axes = plt.subplots(1, 1, figsize=(12, 8))
ax = axes


# round to nearest years.
datemin = np.datetime64(x[0], 'D') - np.timedelta64(1, 'h')
datemax = np.datetime64(x[-1], 'D') + np.timedelta64(4, 'h')
ax.set_xlim(datemin, datemax)

ax.plot(x,y, label='Concentração de Ferro')
ax.plot(x,media, label='Média do Nível da Caixa de Alimentação')
ax.plot(x,mediana, label='Mediana do Nível da Caixa de Alimentação')

ax.legend(loc='upper right')

plt.show()

In [ ]:
x = np.asarray(target.DataHora)
y = np.asarray(target.Ferro)

fig, axes = plt.subplots(1, 1, figsize=(12, 8))
ax = axes

ax.plot(list(range(1,38)), media, 'r', linewidth=2, label='Média do Nível da Caixa de Alimentação')
ax.plot(list(range(1,38)), mediana, 'black', linewidth=2, label='Mediana do Nível da Caixa de Alimentação')
ax.plot(list(range(1,38)), y, 'green', linewidth=2, label='Concentração de Ferro')

grupos.boxplot(['Nível'], by = 'gr', figsize=(18,8), ax=ax)

ax.legend(loc='lower right')

plt.show()

In [9]:
cleaner1

,Cleaner 1 (CF1430CN07),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,DataHora,Nível de espuma,DataHora,Vazão de ar,DataHora,Abertura válvula dardo 1,DataHora,Abertura válvula dardo 2,DataHora,Abertura válvula ar
1,NaN,CN_CF1430CN07_LI,NaN,CN_CF1430CN07_FI1,NaN,CN_LIC1430CN507_RSD,NaN,CN_LIC1430CN507_RSD2,NaN,CN_FIC1430CN507_RSD
2,2019-01-01 00:00:24,47.7152,2019-01-01 00:00:29,783.714,2019-01-01 00:00:01,37.6702,2019-01-01 00:00:01,39.8308,2019-01-01 07:35:07,46.7682
3,2019-01-01 00:01:29,45.2377,2019-01-01 00:00:44,787.003,2019-01-01 00:00:21,34.2606,2019-01-01 00:00:21,38.451,2019-01-02 07:34:31,46.9619
4,2019-01-01 00:01:59,42.7972,2019-01-01 00:00:59,787.003,2019-01-01 00:01:01,34.3808,2019-01-01 00:01:36,39.3904,2019-01-02 12:26:17,47.0938
5,2019-01-01 00:05:34,47.2493,2019-01-01 00:01:14,777.889,2019-01-01 00:01:06,35.7606,2019-01-01 00:02:01,45,2019-01-02 12:37:42,46.9462
6,2019-01-01 00:07:49,42.6804,2019-01-01 00:01:29,783.392,2019-01-01 00:01:26,35.8212,2019-01-01 00:02:31,45.05,2019-01-02 12:37:47,46.9462
7,2019-01-01 00:08:44,43.9964,2019-01-01 00:01:44,779.791,2019-01-01 00:01:31,38.1798,2019-01-01 00:02:36,48.1702,2019-01-02 12:47:42,47.0938
8,2019-01-01 00:09:59,46.3871,2019-01-01 00:02:29,782.376,2019-01-01 00:03:06,47.1606,2019-01-01 00:03:16,48.2202,2019-01-03 12:46:37,46.8768
9,2019-01-01 00:12:09,44.191,2019-01-01 00:02:44,785.345,2019-01-01 00:03:56,44.0308,2019-01-01 00:03:21,46.9298,2019-01-03 14:25:17,47.9741
10,2019-01-01 00:12:54,42.76,2019-01-01 00:02:59,781.26,2019-01-01 00:04:21,44.0308,2019-01-01 00:03:46,46.75,2019-01-03 14:34:42,48.9899
11,2019-01-01 00:14:14,45.9887,2019-01-01 00:03:14,781.26,2019-01-01 00:04:26,41.2606,2019-01-01 00:03:51,45.4606,2019-01-03 14:49:42,47.7962
12,2019-01-01 00:16:59,43.6164,2019-01-01 00:03:44,785.882,2019-01-01 00:04:51,41.3308,2019-01-01 00:04:21,45.3404,2019-01-03 14:53:17,46.533
13,2019-01-01 00:19:19,45.7025,2019-01-01 00:03:59,780.947,2019-01-01 00:04:56,39.2404,2019-01-01 00:04:26,42.85,2019-01-03 15:08:32,44.7992
14,2019-01-01 00:23:44,45.3999,2019-01-01 00:04:44,782.858,2019-01-01 00:05:31,39.2404,2019-01-01 00:04:51,42.8606,2019-01-03 15:38:27,43.1626
15,2019-01-01 00:31:14,45.4186,2019-01-01 00:05:14,781.152,2019-01-01 00:05:36,35.451,2019-01-01 00:04:56,41.3,2019-01-03 16:38:52,42.0227
16,2019-01-01 00:36:04,45.5129,2019-01-01 00:05:29,783.359,2019-01-01 00:05:56,37.0308,2019-01-01 00:07:31,43.05,2019-01-03 20:00:57,43.1783
17,2019-01-01 00:44:24,45.2325,2019-01-01 00:05:44,780.085,2019-01-01 00:06:41,37.0904,2019-01-01 00:07:51,47.3808,2019-01-03 20:21:02,41.824
18,2019-01-01 00:47:14,45.208,2019-01-01 00:05:59,782.296,2019-01-01 00:06:46,39.1106,2019-01-01 00:09:01,46.901,2019-01-03 21:51:32,42.9057
19,2019-01-01 01:02:04,44.9949,2019-01-01 00:06:14,780.66,2019-01-01 00:07:51,44.5308,2019-01-01 00:09:06,45.0808,2019-01-03 23:02:02,41.7718
20,2019-01-01 01:08:19,45.5697,2019-01-01 00:06:44,781.552,2019-01-01 00:09:16,44.7606,2019-01-01 00:09:46,45.151,2019-01-03 23:42:22,42.8727
21,2019-01-01 01:12:19,45.1806,2019-01-01 00:06:59,776.14,2019-01-01 00:09:21,42.75,2019-01-01 00:09:51,43,2019-01-04 01:35:57,43.9717
22,2019-01-01 01:23:09,44.2165,2019-01-01 00:07:14,783.071,2019-01-01 00:09:56,42.5712,2019-01-01 00:11:01,40.4808,2019-01-04 02:19:22,45.4729
23,2019-01-01 01:36:19,44.1662,2019-01-01 00:08:59,780.448,2019-01-01 00:10:01,39.9702,2019-01-01 00:11:06,38.3606,2019-01-04 02:59:32,44.2887
24,2019-01-01 01:37:19,45.9571,2019-01-01 00:09:14,785.922,2019-01-01 00:10:26,39.9106,2019-01-01 00:11:41,39.5106,2019-01-04 03:39:57,43.2634
25,2019-01-01 01:39:49,45.5197,2019-01-01 00:09:44,786.611,2019-01-01 00:10:31,36.7106,2019-01-01 00:11:56,41.3212,2019-01-04 04:25:57,44.603
26,2019-01-01 01:44:44,45.4772,2019-01-01 00:09:59,780.186,2019-01-01 00:10:51,36.6914,2019-01-01 00:12:01,43.3702,2019-01-04 04:56:02,45.6214
27,2019-01-01 01:55:04,45.2255,2019-01-01 00:10:14,780.54,2019-01-01 00:10:56,38.4106,2019-01-01 00:12:31,43.4808,2019-01-04 05:16:12,47.0956
28,2019-01-01 01:58:34,44.648,2019-01-01 00:10:29,785.488,2019-01-01 00:11:46,38.3404,2019-01-01 00:12:36,45.151,2019-01-04 05:18:22,48.1946
29,2019-01-01 02:09:24,45.2606,2019-01-01 00:10:44,781.775,2019-01-01 00:11:51,40.7404,2019-01-01 00:12:56,45.0808,2019-01-04 06:00:47,46.7049
...,...,...,...,...,...,...,...,...,...,...
515026,NaN,NaN,2019-05-31 23:50:44,754.283,NaN,NaN,NaN,NaN,NaN,NaN
515027,NaN,NaN,2019-05-31 23:50:59,754.283,NaN,NaN,NaN,NaN,NaN,NaN
515028,NaN,NaN,2019-05-31 23:51:14,748.65,NaN,NaN,NaN,NaN,NaN,NaN
515029,NaN,NaN,2019-05-31 23:51:29,746.2,NaN,NaN,NaN,NaN,NaN,NaN
515030,NaN,NaN,2019-05-31 23:51:44,749.393,NaN,NaN,NaN,NaN,NaN,NaN
515031,NaN,NaN,2019-05-31 23:52:14,750.323,NaN,NaN,NaN,NaN,NaN,NaN
515032,NaN,NaN,2019-05-31 23:52:44,747.702,NaN,NaN,NaN,NaN,NaN,NaN
515033,NaN,NaN,2019-05-31 23:52:59,749.985,NaN,NaN,NaN,NaN,NaN,NaN
515034,NaN,NaN,2019-05-31 23:53:29,748.302,NaN,NaN,NaN,NaN,NaN,NaN
515035,NaN,NaN,2019-05-31 23:53:44,749.374,NaN,NaN,NaN,NaN,NaN,NaN
515036,NaN,NaN,2019-05-31 23:53:59,753.332,NaN,NaN,NaN,NaN,NaN,NaN
515037,NaN,NaN,2019-05-31 23:54:14,749.638,NaN,NaN,NaN,NaN,NaN,NaN
515038,NaN,NaN,2019-05-31 23:54:44,748.601,NaN,NaN,NaN,NaN,NaN,NaN
515039,NaN,NaN,2019-05-31 23:54:59,750.506,NaN,NaN,NaN,NaN,NaN,NaN
515040,NaN,NaN,2019-05-31 23:55:29,748.768,NaN,NaN,NaN,NaN,NaN,NaN
515041,NaN,NaN,2019-05-31 23:55:44,751.417,NaN,NaN,NaN,NaN,NaN,NaN
515042,NaN,NaN,2019-05-31 23:55:59,750.88,NaN,NaN,NaN,NaN,NaN,NaN
515043,NaN,NaN,2019-05-31 23:56:14,755.813,NaN,NaN,NaN,NaN,NaN,NaN
515044,NaN,NaN,2019-05-31 23:56:29,750.381,NaN,NaN,NaN,NaN,NaN,NaN
515045,NaN,NaN,2019-05-31 23:56:44,750.381,NaN,NaN,NaN,NaN,NaN,NaN
515046,NaN,NaN,2019-05-31 23:56:59,752.882,NaN,NaN,NaN,NaN,NaN,NaN
515047,NaN,NaN,2019-05-31 23:57:14,748.869,NaN,NaN,NaN,NaN,NaN,NaN
515048,NaN,NaN,2019-05-31 23:57:29,754.381,NaN,NaN,NaN,NaN,NaN,NaN
515049,NaN,NaN,2019-05-31 23:57:44,754.381,NaN,NaN,NaN,NaN,NaN,NaN
515050,NaN,NaN,2019-05-31 23:57:59,752.143,NaN,NaN,NaN,NaN,NaN,NaN
515051,NaN,NaN,2019-05-31 23:58:14,744.057,NaN,NaN,NaN,NaN,NaN,NaN
515052,NaN,NaN,2019-05-31 23:58:29,745.92,NaN,NaN,NaN,NaN,NaN,NaN
515053,NaN,NaN,2019-05-31 23:58:44,751.043,NaN,NaN,NaN,NaN,NaN,NaN
515054,NaN,NaN,2019-05-31 23:59:14,751.427,NaN,NaN,NaN,NaN,NaN,NaN
515055,NaN,NaN,2019-05-31 23:59:29,748.886,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
scavenger1b2

,Scavenger1 (Banco 2) (CF1430CN17),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,DataHora,Nível de espuma,DataHora,Vazão de ar,DataHora,Abertura válvula dardo 1,DataHora,Abertura válvula dardo 2,DataHora,Abertura válvula ar
1,NaN,CN_CF1430CN17_LI,NaN,CN_CF1430CN17_FI,NaN,CN_LIC1430CN517_RSD,NaN,CN_LIC1430CN517_RSD2,NaN,CN_FIC1430CN517_RSD
2,2019-01-01 00:01:24,19.5276,2019-01-01 00:00:59,0,2019-01-01 00:01:06,-1.26845,2019-01-01 00:00:56,-1.91845,2019-01-01 01:14:07,38.0616
3,2019-01-01 00:01:44,21.52,2019-01-01 00:52:14,0,2019-01-01 00:01:11,0.180589,2019-01-01 00:01:01,0.959225,2019-01-02 01:13:32,38.0001
4,2019-01-01 00:01:54,20.2035,2019-01-01 01:43:14,0,2019-01-01 00:01:51,-0.379612,2019-01-01 00:02:31,1.45535,2019-01-02 12:27:47,38.0001
5,2019-01-01 00:07:54,20.6876,2019-01-01 02:34:14,0,2019-01-01 00:01:56,1.69471,2019-01-01 00:07:21,1.52377,2019-01-02 12:38:56,38.1958
6,2019-01-01 00:08:59,21.1431,2019-01-01 03:25:29,0,2019-01-01 00:02:31,0,2019-01-01 00:09:01,1.3369,2019-01-02 12:39:02,38.1958
7,2019-01-01 00:09:09,20.0274,2019-01-01 04:16:29,0,2019-01-01 00:03:41,0.130585,2019-01-01 00:09:26,-1.9,2019-01-02 12:49:02,38.1907
8,2019-01-01 00:12:49,20.852,2019-01-01 05:07:44,0,2019-01-01 00:03:46,1.79468,2019-01-01 00:12:56,-1.9,2019-01-03 12:48:02,38.1292
9,2019-01-01 00:14:24,20.6781,2019-01-01 05:58:44,0,2019-01-01 00:05:41,-0.550015,2019-01-01 00:13:01,0.800015,2019-01-04 12:46:47,37.874
10,2019-01-01 00:14:29,22.8889,2019-01-01 06:49:44,0,2019-01-01 00:05:56,0.559225,2019-01-01 00:13:51,0.35,2019-01-05 12:45:12,38.1876
11,2019-01-01 00:15:24,18.5196,2019-01-01 07:40:44,0,2019-01-01 00:06:01,2.46316,2019-01-01 00:14:31,0.863131,2019-01-06 12:04:07,37.9303
12,2019-01-01 00:15:44,19.9982,2019-01-01 08:31:14,0,2019-01-01 00:07:06,1.23158,2019-01-01 00:14:36,-1.9,2019-01-06 12:12:17,38.0626
13,2019-01-01 00:17:44,20.5528,2019-01-01 09:21:59,0,2019-01-01 00:07:31,0.318442,2019-01-01 00:14:56,-1.9,2019-01-07 12:08:17,38.205
14,2019-01-01 00:17:49,19.2505,2019-01-01 10:12:59,0,2019-01-01 00:07:36,-1.08158,2019-01-01 00:15:01,0.727675,2019-01-07 12:28:27,37.9867
15,2019-01-01 00:19:19,21.5665,2019-01-01 11:03:59,0,2019-01-01 00:07:56,1.61845,2019-01-01 00:15:26,2.13696,2019-01-07 12:39:37,37.9365
16,2019-01-01 00:19:39,19.8672,2019-01-01 11:54:59,0,2019-01-01 00:09:21,0.0398053,2019-01-01 00:17:51,1.61845,2019-01-08 07:09:22,47.1203
17,2019-01-01 00:20:44,20.5375,2019-01-01 12:45:59,0,2019-01-01 00:09:26,-1.26845,2019-01-01 00:20:41,0.279612,2019-01-08 07:09:42,44.9627
18,2019-01-01 00:22:34,20.0589,2019-01-01 13:36:59,0,2019-01-01 00:13:46,-1.26845,2019-01-01 00:21:36,1.22626,2019-01-08 07:10:52,50.3798
19,2019-01-01 00:24:24,20.0138,2019-01-01 14:27:59,0,2019-01-01 00:13:51,0.777659,2019-01-01 00:21:41,-1.86845,2019-01-09 07:09:32,49.8437
20,2019-01-01 00:25:54,19.6117,2019-01-01 15:18:59,0,2019-01-01 00:15:16,0.239806,2019-01-01 00:22:01,0.61845,2019-01-10 07:08:27,50.1686
21,2019-01-01 00:25:59,20.9398,2019-01-01 16:10:14,0,2019-01-01 00:16:26,0.119903,2019-01-01 00:22:56,0.65,2019-01-11 07:07:12,49.8437
22,2019-01-01 00:26:19,19.8285,2019-01-01 17:01:14,0,2019-01-01 00:16:31,1.5,2019-01-01 00:23:01,-1.9,2019-01-12 07:06:52,49.9001
23,2019-01-01 00:27:34,20.016,2019-01-01 17:51:59,0,2019-01-01 00:17:36,0.100002,2019-01-01 00:23:46,-1.9,2019-01-13 07:05:47,50.2209
24,2019-01-01 00:30:09,20.9689,2019-01-01 18:43:14,0,2019-01-01 00:17:56,1.58693,2019-01-01 00:23:51,0.0398053,2019-01-14 07:04:57,49.9646
25,2019-01-01 00:30:14,19.8246,2019-01-01 19:34:29,0,2019-01-01 00:19:36,0.409225,2019-01-01 00:24:11,-0.110196,2019-01-14 10:26:07,50.1685
26,2019-01-01 00:31:44,20.8675,2019-01-01 20:25:29,0,2019-01-01 00:19:41,2.45252,2019-01-01 00:24:16,-1.9,2019-01-14 10:26:12,50.1685
27,2019-01-01 00:31:49,19.4985,2019-01-01 21:16:44,0,2019-01-01 00:20:36,0.0599516,2019-01-01 00:25:41,-1.91845,2019-01-14 10:31:42,49.7679
28,2019-01-01 00:32:04,20.5821,2019-01-01 22:07:44,0,2019-01-01 00:21:11,0.559225,2019-01-01 00:25:46,0.863131,2019-01-15 10:27:37,49.9564
29,2019-01-01 00:33:49,20.2211,2019-01-01 22:58:44,0,2019-01-01 00:21:16,1.94471,2019-01-01 00:26:11,-1.9,2019-01-15 10:37:37,49.8437
...,...,...,...,...,...,...,...,...,...,...
209333,NaN,NaN,NaN,NaN,2019-05-31 22:48:56,33.9298,NaN,NaN,NaN,NaN
209334,NaN,NaN,NaN,NaN,2019-05-31 22:54:11,33.6702,NaN,NaN,NaN,NaN
209335,NaN,NaN,NaN,NaN,2019-05-31 22:57:06,33.9414,NaN,NaN,NaN,NaN
209336,NaN,NaN,NaN,NaN,2019-05-31 22:57:11,35.3404,NaN,NaN,NaN,NaN
209337,NaN,NaN,NaN,NaN,2019-05-31 22:57:46,34.9202,NaN,NaN,NaN,NaN
209338,NaN,NaN,NaN,NaN,2019-05-31 22:57:51,33.6106,NaN,NaN,NaN,NaN
209339,NaN,NaN,NaN,NaN,2019-05-31 23:01:41,34.4414,NaN,NaN,NaN,NaN
209340,NaN,NaN,NaN,NaN,2019-05-31 23:06:36,33.901,NaN,NaN,NaN,NaN
209341,NaN,NaN,NaN,NaN,2019-05-31 23:06:41,34.9904,NaN,NaN,NaN,NaN
209342,NaN,NaN,NaN,NaN,2019-05-31 23:07:01,33.8404,NaN,NaN,NaN,NaN
209343,NaN,NaN,NaN,NaN,2019-05-31 23:16:21,34.9808,NaN,NaN,NaN,NaN
209344,NaN,NaN,NaN,NaN,2019-05-31 23:16:41,33.8308,NaN,NaN,NaN,NaN
209345,NaN,NaN,NaN,NaN,2019-05-31 23:21:26,35.1798,NaN,NaN,NaN,NaN
209346,NaN,NaN,NaN,NaN,2019-05-31 23:22:16,33.9298,NaN,NaN,NaN,NaN
209347,NaN,NaN,NaN,NaN,2019-05-31 23:27:36,33.5,NaN,NaN,NaN,NaN
209348,NaN,NaN,NaN,NaN,2019-05-31 23:27:41,35.3606,NaN,NaN,NaN,NaN
209349,NaN,NaN,NaN,NaN,2019-05-31 23:28:11,33.651,NaN,NaN,NaN,NaN
209350,NaN,NaN,NaN,NaN,2019-05-31 23:29:36,34.7202,NaN,NaN,NaN,NaN
209351,NaN,NaN,NaN,NaN,2019-05-31 23:30:56,34.5106,NaN,NaN,NaN,NaN
209352,NaN,NaN,NaN,NaN,2019-05-31 23:35:01,33.8606,NaN,NaN,NaN,NaN
209353,NaN,NaN,NaN,NaN,2019-05-31 23:35:06,34.9808,NaN,NaN,NaN,NaN
209354,NaN,NaN,NaN,NaN,2019-05-31 23:36:11,33.7106,NaN,NaN,NaN,NaN
209355,NaN,NaN,NaN,NaN,2019-05-31 23:39:06,34.1308,NaN,NaN,NaN,NaN
209356,NaN,NaN,NaN,NaN,2019-05-31 23:43:26,34.1404,NaN,NaN,NaN,NaN
209357,NaN,NaN,NaN,NaN,2019-05-31 23:51:21,34.951,NaN,NaN,NaN,NaN
209358,NaN,NaN,NaN,NaN,2019-05-31 23:51:41,33.35,NaN,NaN,NaN,NaN
209359,NaN,NaN,NaN,NaN,2019-05-31 23:53:46,34.5404,NaN,NaN,NaN,NaN
209360,NaN,NaN,NaN,NaN,2019-05-31 23:56:01,33.7904,NaN,NaN,NaN,NaN
209361,NaN,NaN,NaN,NaN,2019-05-31 23:56:06,34.9808,NaN,NaN,NaN,NaN
209362,NaN,NaN,NaN,NaN,2019-05-31 23:58:35,33.8308,NaN,NaN,NaN,NaN

## Selecionar dados de apenas uma semana para tratamento

In [7]:
target = pd.read_excel('T_Conceicao.xlsx')

# Renomeia o cabeçalho de target
target.columns = ['DataHora', 'Ferro', 'Silica']

In [4]:
# Transforma a primeira linha em cabeçalho
cx_alimentacao.columns = cx_alimentacao.iloc[0]
cx_recirculacao.columns = cx_recirculacao.iloc[0]

# Remove as duas primeiras linhas, que contêm cabeçalhos e nomes de TAGs
cx_alimentacao = cx_alimentacao.drop([0,1])
cx_recirculacao = cx_recirculacao.drop([0,1])

# Refaz a numeração do index
cx_alimentacao.reset_index(drop=True, inplace=True)
cx_recirculacao.reset_index(drop=True, inplace=True)

# Preenche os dados faltantes com zeros
cx_alimentacao = cx_alimentacao.fillna(0)
cx_recirculacao = cx_recirculacao.fillna(0)

In [8]:
# Data a partir da qual coletar os dados (anterior à primeira análise)
base = target.iloc[1006][0]
# Data até a qual coletar os dados (última análise)
fim = target.iloc[1060,0][0]

# Selecao dos target a partir da data inicial até a data final
selecao = target.iloc[:,0] > base
selecao = selecao & (target.iloc[:,0] <= fim)
target = target[selecao]

# Zera o índice
target.index = [j for j in range(target.iloc[:,0].shape[0])]

TypeError: 'Timestamp' object is not subscriptable

### Separa as variáveis da caixa de alimentação

In [7]:
# Seleciona duas colunas, formando um agrupamento com os dados de um parâmetro
nivel_cx_alimentacao = cx_alimentacao.iloc[:,[0,1]]
densidade_cx_alimentacao = cx_alimentacao.iloc[:,[2,3]]
vazao_vol_cx_alimentacao = cx_alimentacao.iloc[:,[4,5]]
vazao_mas_cx_alimentacao = cx_alimentacao.iloc[:,[6,7]]
vazao_amina_cx_alimentacao = cx_alimentacao.iloc[:,[8,9]]
vazao_amido_cx_alimentacao = cx_alimentacao.iloc[:,[10,11]]

# Retira os dados nulos
selecao = nivel_cx_alimentacao.iloc[:,0] != 0
nivel_cx_alimentacao = nivel_cx_alimentacao[selecao]

selecao = densidade_cx_alimentacao.iloc[:,0] != 0
densidade_cx_alimentacao = densidade_cx_alimentacao[selecao]

selecao = vazao_vol_cx_alimentacao.iloc[:,0] != 0
vazao_vol_cx_alimentacao = vazao_vol_cx_alimentacao[selecao]

selecao = vazao_mas_cx_alimentacao.iloc[:,0] != 0
vazao_mas_cx_alimentacao = vazao_mas_cx_alimentacao[selecao]

selecao = vazao_amina_cx_alimentacao.iloc[:,0] != 0
vazao_amina_cx_alimentacao = vazao_amina_cx_alimentacao[selecao]

selecao = vazao_amido_cx_alimentacao.iloc[:,0] != 0
vazao_amido_cx_alimentacao = vazao_amido_cx_alimentacao[selecao]

In [ ]:
grupos = pd.DataFrame(columns=[col for col in nivel.columns])
i = 0
for amostra in target.iloc[:,0]:
    if nivel.shape[0] > 0:
        # Critério de seleção dos dados com base na data e hora
        selecao = nivel.iloc[:,0] < amostra
        # Seleciona o conjunto de dados
        selecionado = nivel[selecao]
        # Remove os dados da lista original
        nivel = nivel[~selecao]
        # Zera o índice para o grupo de dados selecionado
        selecionado.index = [j for j in range(selecionado.iloc[:,1].shape[0])]
        # Identifica o grupo
        selecionado['gr'] = [i for j in range(selecionado.iloc[:,1].shape[0])]
        
        grupos = grupos.append(selecionado, sort="False")
        i += 1
    
grupos['gr'] = grupos['gr'].astype(int)

In [5]:
cx_alimentacao

,DataHora,Nível,DataHora,Densidade,DataHora,Vazão Volumétrica,DataHora,Vazão mássica,DataHora,Vazão amina,DataHora,Vazão amido
0,2019-01-01 00:00:04,82.1242,2019-01-01 00:00:04,1.836176,2019-01-01 00:00:14,813.046143,2019-01-01 00:00:14,939.608765,2019-01-01 00:06:59,34.124943,2019-01-01 00:38:59,200.172287
1,2019-01-01 00:00:34,82.418,2019-01-01 00:00:09,1.845445,2019-01-01 00:00:29,846.262878,2019-01-01 00:00:19,962.351685,2019-01-01 00:14:44,34.313667,2019-01-01 00:39:14,191.720093
2,2019-01-01 00:00:39,84.9343,2019-01-01 00:00:34,1.842032,2019-01-01 00:00:59,830.047241,2019-01-01 00:00:29,978.569885,2019-01-01 00:16:14,35.192390,2019-01-01 00:39:44,204.961197
3,2019-01-01 00:00:49,84.7828,2019-01-01 00:01:09,1.856843,2019-01-01 00:01:14,879.157959,2019-01-01 00:00:34,965.701050,2019-01-01 01:00:59,34.288853,2019-01-01 00:56:29,196.460632
4,2019-01-01 00:01:04,88.8688,2019-01-01 00:01:14,1.849150,2019-01-01 00:01:29,817.684509,2019-01-01 00:00:44,970.280029,2019-01-01 01:05:14,34.891750,2019-01-01 01:15:44,209.996704
5,2019-01-01 00:02:19,87.8499,2019-01-01 00:02:29,1.845319,2019-01-01 00:01:44,853.222412,2019-01-01 00:00:59,942.833862,2019-01-01 01:13:14,35.207417,2019-01-01 01:25:14,199.080139
6,2019-01-01 00:02:44,89.4143,2019-01-01 00:02:34,1.838344,2019-01-01 00:01:59,853.222412,2019-01-01 00:01:04,1023.922302,2019-01-01 01:15:29,36.436195,2019-01-01 01:45:44,201.821716
7,2019-01-01 00:02:49,90.9533,2019-01-01 00:02:49,1.850294,2019-01-01 00:02:29,809.729248,2019-01-01 00:01:09,982.451843,2019-01-01 01:17:59,35.774426,2019-01-01 02:38:29,206.551636
8,2019-01-01 00:03:29,87.6006,2019-01-01 00:02:54,1.839121,2019-01-01 00:02:44,869.976013,2019-01-01 00:01:24,994.864197,2019-01-01 01:20:44,34.540958,2019-01-01 03:28:44,208.951874
9,2019-01-01 00:03:44,87.7717,2019-01-01 00:03:09,1.848488,2019-01-01 00:02:59,827.733948,2019-01-01 00:01:29,987.242981,2019-01-01 01:32:44,34.597851,2019-01-01 04:19:44,205.860016
10,2019-01-01 00:03:49,86.1343,2019-01-01 00:03:59,1.843359,2019-01-01 00:03:29,831.754456,2019-01-01 00:01:39,999.757996,2019-01-01 01:45:29,34.487370,2019-01-01 05:10:44,207.337982
11,2019-01-01 00:04:14,85.9943,2019-01-01 00:04:04,1.833432,2019-01-01 00:03:44,801.935669,2019-01-01 00:01:44,967.590149,2019-01-01 01:46:44,33.429447,2019-01-01 06:05:59,208.515289
12,2019-01-01 00:04:19,88.0263,2019-01-01 00:04:24,1.840525,2019-01-01 00:03:59,834.852539,2019-01-01 00:01:49,966.532715,2019-01-01 01:53:14,34.603539,2019-01-01 06:31:59,210.987640
13,2019-01-01 00:05:19,86.8114,2019-01-01 00:05:14,1.839305,2019-01-01 00:04:29,827.315491,2019-01-01 00:02:04,947.383850,2019-01-01 02:14:44,35.483696,2019-01-01 07:23:14,207.173080
14,2019-01-01 00:05:34,85.9495,2019-01-01 00:05:19,1.848421,2019-01-01 00:04:44,868.832458,2019-01-01 00:02:09,972.988708,2019-01-01 02:14:59,34.427444,2019-01-01 07:40:14,208.640518
15,2019-01-01 00:05:39,88.0095,2019-01-01 00:05:34,1.839156,2019-01-01 00:04:59,814.662415,2019-01-01 00:02:19,940.864075,2019-01-01 02:16:29,33.836838,2019-01-01 07:43:14,213.925690
16,2019-01-01 00:06:19,86.7865,2019-01-01 00:05:49,1.849581,2019-01-01 00:05:29,824.190796,2019-01-01 00:02:24,921.250244,2019-01-01 02:51:59,34.185715,2019-01-01 07:48:14,206.960892
17,2019-01-01 00:06:24,88.8685,2019-01-01 00:05:59,1.839516,2019-01-01 00:05:44,794.276062,2019-01-01 00:02:34,1031.749756,2019-01-01 02:54:59,34.400448,2019-01-01 07:48:29,199.507599
18,2019-01-01 00:06:54,87.9507,2019-01-01 00:07:09,1.842779,2019-01-01 00:05:59,868.789490,2019-01-01 00:02:39,964.805054,2019-01-01 03:06:14,34.484081,2019-01-01 07:49:14,205.870300
19,2019-01-01 00:06:59,85.32,2019-01-01 00:07:39,1.841161,2019-01-01 00:06:14,837.364746,2019-01-01 00:02:59,941.209778,2019-01-01 03:09:29,33.515270,2019-01-01 08:30:59,206.668091
20,2019-01-01 00:07:09,86.588,2019-01-01 00:07:44,1.831234,2019-01-01 00:06:44,824.490967,2019-01-01 00:03:09,948.719727,2019-01-01 03:15:29,34.710346,2019-01-01 08:38:29,212.048248
21,2019-01-01 00:07:59,83.0843,2019-01-01 00:07:59,1.841345,2019-01-01 00:06:59,883.724182,2019-01-01 00:03:19,978.150696,2019-01-01 03:55:29,35.042366,2019-01-01 08:55:14,202.243942
22,2019-01-01 00:08:34,83.4543,2019-01-01 00:08:09,1.831139,2019-01-01 00:07:29,855.504883,2019-01-01 00:03:34,942.081604,2019-01-01 04:03:44,34.860874,2019-01-01 09:03:29,208.555115
23,2019-01-01 00:08:39,81.5285,2019-01-01 00:08:24,1.832140,2019-01-01 00:07:44,876.775635,2019-01-01 00:03:39,929.304626,2019-01-01 04:29:14,34.788227,2019-01-01 09:19:29,206.671753
24,2019-01-01 00:09:19,85.004,2019-01-01 00:08:29,1.842168,2019-01-01 00:08:14,857.267944,2019-01-01 00:03:44,991.260193,2019-01-01 04:40:15,35.016716,2019-01-01 09:50:59,197.142975
25,2019-01-01 00:09:34,82.9217,2019-01-01 00:09:04,1.840564,2019-01-01 00:08:29,823.548462,2019-01-01 00:03:59,951.189941,2019-01-01 04:51:29,34.897778,2019-01-01 09:59:44,195.780197
26,2019-01-01 00:09:44,85.6085,2019-01-01 00:09:09,1.848107,2019-01-01 00:08:44,823.548462,2019-01-01 00:04:04,943.513550,2019-01-01 05:13:29,34.251701,2019-01-01 10:10:29,209.973267
27,2019-01-01 00:10:14,85.1996,2019-01-01 00:09:19,1.830585,2019-01-01 00:08:59,862.889099,2019-01-01 00:04:14,974.604187,2019-01-01 05:19:14,32.410049,2019-01-01 10:52:29,207.233139
28,2019-01-01 00:10:19,83.2607,2019-01-01 00:10:09,1.849070,2019-01-01 00:09:29,800.729309,2019-01-01 00:04:19,889.360657,2019-01-01 05:25:14,33.464577,2019-01-01 11:09:29,201.863220
29,2019-01-01 00:10:49,84.8584,2019-01-01 00:10:39,1.833617,2019-01-01 00:09:44,800.729309,2019-01-01 00:04:24,969.367188,2019-01-01 05:33:29,33.206013,2019-01-01 12:00:29,205.779388
...,...,...,...,...,...,...,...,...,...,...,...,...
697846,0,0,0,0.000000,0,0.000000,2019-05-31 23:46:39,896.739746,0,0.000000,0,0.000000
697847,0,0,0,0.000000,0,0.000000,2019-05-31 23:46:44,895.062805,0,0.000000,0,0.000000
697848,0,0,0,0.000000,0,0.000000,2019-05-31 23:47:04,893.006714,0,0.000000,0,0.000000
697849,0,0,0,0.000000,0,0.000000,2019-05-31 23:47:14,891.222778,0,0.000000,0,0.000000
697850,0,0,0,0.000000,0,0.000000,2019-05-31 23:47:49,892.299561,0,0.000000,0,0.000000
697851,0,0,0,0.000000,0,0.000000,2019-05-31 23:48:49,893.313782,0,0.000000,0,0.000000
697852,0,0,0,0.000000,0,0.000000,2019-05-31 23:49:59,894.411682,0,0.000000,0,0.000000
697853,0,0,0,0.000000,0,0.000000,2019-05-31 23:50:14,895.950500,0,0.000000,0,0.000000
697854,0,0,0,0.000000,0,0.000000,2019-05-31 23:50:34,894.795288,0,0.000000,0,0.000000
697855,0,0,0,0.000000,0,0.000000,2019-05-31 23:50:49,895.846924,0,0.000000,0,0.000000
697856,0,0,0,0.000000,0,0.000000,2019-05-31 23:51:19,894.249756,0,0.000000,0,0.000000
697857,0,0,0,0.000000,0,0.000000,2019-05-31 23:51:29,892.807251,0,0.000000,0,0.000000
697858,0,0,0,0.000000,0,0.000000,2019-05-31 23:52:13,891.713623,0,0.000000,0,0.000000
697859,0,0,0,0.000000,0,0.000000,2019-05-31 23:52:23,892.858765,0,0.000000,0,0.000000
697860,0,0,0,0.000000,0,0.000000,2019-05-31 23:52:39,894.190247,0,0.000000,0,0.000000
697861,0,0,0,0.000000,0,0.000000,2019-05-31 23:53:04,895.662048,0,0.000000,0,0.000000
697862,0,0,0,0.000000,0,0.000000,2019-05-31 23:53:19,897.809570,0,0.000000,0,0.000000
697863,0,0,0,0.000000,0,0.000000,2019-05-31 23:53:24,894.227478,0,0.000000,0,0.000000
697864,0,0,0,0.000000,0,0.000000,2019-05-31 23:53:44,893.181335,0,0.000000,0,0.000000
697865,0,0,0,0.000000,0,0.000000,2019-05-31 23:55:54,892.022522,0,0.000000,0,0.000000
697866,0,0,0,0.000000,0,0.000000,2019-05-31 23:56:04,890.669617,0,0.000000,0,0.000000
697867,0,0,0,0.000000,0,0.000000,2019-05-31 23:56:24,891.877991,0,0.000000,0,0.000000
697868,0,0,0,0.000000,0,0.000000,2019-05-31 23:56:39,890.461304,0,0.000000,0,0.000000
697869,0,0,0,0.000000,0,0.000000,2019-05-31 23:56:49,891.549072,0,0.000000,0,0.000000
697870,0,0,0,0.000000,0,0.000000,2019-05-31 23:57:04,893.885437,0,0.000000,0,0.000000
697871,0,0,0,0.000000,0,0.000000,2019-05-31 23:57:34,892.451660,0,0.000000,0,0.000000
697872,0,0,0,0.000000,0,0.000000,2019-05-31 23:58:09,893.583801,0,0.000000,0,0.000000
697873,0,0,0,0.000000,0,0.000000,2019-05-31 23:58:44,895.247498,0,0.000000,0,0.000000
697874,0,0,0,0.000000,0,0.000000,2019-05-31 23:59:34,896.604797,0,0.000000,0,0.000000
697875,0,0,0,0.000000,0,0.000000,2019-05-31 23:59:44,892.828735,0,0.000000,0,0.000000

In [6]:
cx_alimentacao.iloc[:,[10,11]]

0                  DataHora  Vazão amido
0       2019-01-01 00:38:59   200.172287
1       2019-01-01 00:39:14   191.720093
2       2019-01-01 00:39:44   204.961197
3       2019-01-01 00:56:29   196.460632
4       2019-01-01 01:15:44   209.996704
5       2019-01-01 01:25:14   199.080139
6       2019-01-01 01:45:44   201.821716
7       2019-01-01 02:38:29   206.551636
8       2019-01-01 03:28:44   208.951874
9       2019-01-01 04:19:44   205.860016
10      2019-01-01 05:10:44   207.337982
11      2019-01-01 06:05:59   208.515289
12      2019-01-01 06:31:59   210.987640
13      2019-01-01 07:23:14   207.173080
14      2019-01-01 07:40:14   208.640518
15      2019-01-01 07:43:14   213.925690
16      2019-01-01 07:48:14   206.960892
17      2019-01-01 07:48:29   199.507599
18      2019-01-01 07:49:14   205.870300
19      2019-01-01 08:30:59   206.668091
20      2019-01-01 08:38:29   212.048248
21      2019-01-01 08:55:14   202.243942
22      2019-01-01 09:03:29   208.555115
23      2019-01-01 09:19:29   206.671753
24      2019-01-01 09:50:59   197.142975
25      2019-01-01 09:59:44   195.780197
26      2019-01-01 10:10:29   209.973267
27      2019-01-01 10:52:29   207.233139
28      2019-01-01 11:09:29   201.863220
29      2019-01-01 12:00:29   205.779388
...                     ...          ...
697846                    0     0.000000
697847                    0     0.000000
697848                    0     0.000000
697849                    0     0.000000
697850                    0     0.000000
697851                    0     0.000000
697852                    0     0.000000
697853                    0     0.000000
697854                    0     0.000000
697855                    0     0.000000
697856                    0     0.000000
697857                    0     0.000000
697858                    0     0.000000
697859                    0     0.000000
697860                    0     0.000000
697861                    0     0.000000
697862                    0     0.000000
697863                    0     0.000000
697864                    0     0.000000
697865                    0     0.000000
697866                    0     0.000000
697867                    0     0.000000
697868                    0     0.000000
697869                    0     0.000000
697870                    0     0.000000
697871                    0     0.000000
697872                    0     0.000000
697873                    0     0.000000
697874                    0     0.000000
697875                    0     0.000000

[697876 rows x 2 columns]

### Testar fução **zip**

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

# Create data
N = 60
g1 = (0.6 + 0.6 * np.random.rand(N), np.random.rand(N))
g2 = (0.4+0.3 * np.random.rand(N), 0.5*np.random.rand(N))
g3 = (0.3*np.random.rand(N),0.3*np.random.rand(N))

data = (g1, g2, g3)
colors = ("red", "green", "blue")
groups = ("coffee", "tea", "water")

# Create plot
fig = plt.figure()
ax = fig.add_subplot(1, 1, 1, axisbg="1.0")

for data, color, group in zip(data, colors, groups):
    x, y = data
    ax.scatter(x, y, alpha=0.8, c=color, edgecolors='none', s=30, label=group)

plt.title('Matplot scatter plot')
plt.legend(loc=2)
plt.show()